<li class="nav-item ">
    <a class="nav-link" href="/">Home</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="/matchups">Vote on Standard Matchups</a>
</li>

<li class="nav-item active">
    <a class="nav-link" href="/matchupsExp">Vote on Expanded Matchups <span class="sr-only">(current)</span></a>
</li>
</ul>
</div>
</div>
</nav>
<div class="container my-5">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="card">
                <h5 class="card-header info-color white-text text-center py-4">
                    <strong>Choose the Favored Deck.</strong>
                </h5>
                <div class="card-body px-lg-5 pt-0">
                    {{#each matchups}}
                    <div class="matchup">
                        <h1 class="text-center">{{deck1}} vs {{deck2}}</h1>
                        <div class="row">
                            <div class="col-6" id="card-holder-{{id}}-1">
                                <img class="pkmn-card-odd" src={{pokemon1a}}><img class="pkmn-card-even"
                                    src={{pokemon1b}}>
                            </div>
                            <div class="col-6" id="card-holder-{{id}}-1">
                                <img class="pkmn-card-odd" src={{pokemon2a}}><img class="pkmn-card-even"
                                    src={{pokemon2b}}>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <button
                                class="vote-btn btn ml-0 btn-info btn-rounded btn-block z-depth-0 mb-2 mt-4 mt-md-4 waves-effect"
                                type="submit" id="wins-{{id}}">{{deck1}}</button>
                        </div>
                        <div class="col-md-4">
                            <button
                                class="vote-btn btn ml-0 btn-info btn-rounded btn-block z-depth-0 my-2 my-md-4 waves-effect"
                                type="submit" id="ties-{{id}}">Basically 50-50</button>
                        </div>
                        <div class="col-md-4">
                            <button
                                class="vote-btn btn ml-0 btn-info btn-rounded btn-block z-depth-0 my-2 my-md-4 waves-effect"
                                type="submit" id="losses-{{id}}">{{deck2}}</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-2" id="end"></div>
</div>
<br><br><br>
<button type="button" class="btn btn-success" id="expanded-vote">Vote Now!</button>
</div>